<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
<div class="panel-heading"><h3 style="margin-top:10px !important;">Showing Most Recent Posts</h3>
</div>

		<% @posts.reverse.each do |post| %>
<div class="row active" style="padding:5px;border-bottom:5px;border-color:#000;">
	<!--
  <div class="col-md-2">
  <img src="/assets/up-arrow-icon.png" style="width:20px;"><img src="/assets/down-arrow-icon.png" style="width:20px;"><%= post.score %></div>
-->
  <div class="col-md-10">
	<% if post.picture.present? %>
	<span class="glyphicon glyphicon-picture"></span>
	<% elsif post.link.length > 2 %>
	<span class="glyphicon glyphicon-globe"></span>
	<% else %>
  <span class="glyphicon glyphicon-book"></span>
	<% end %>
  <% if post.link.length > 2 %>
  <%= link_to post.title, post.link %>
  <% elsif post.link.length <= 2 %>
  <%= link_to post.title, post_path(post) %>
	<% elsif post.title.length <= 2 %>
  <%= link_to "(No Title)", post_path(post) %>
  <% end %> 
		 <%= link_to "#{@comments.find_all_by_post_id(post.id).count} Comments", post_path(post), class: "badge pull-right" %>
  <div class="well" style="padding:5px;margin:5px;">

  <% if @comments.find_last_by_post_id(post.id) != nil 
  %>

<a href="<%= post_path(post) %>" id="home-comments"><em><%=  @users.find_by_id(@comments.find_last_by_post_id(post.id).user_id).name %></em>  <%= @comments.find_last_by_post_id(post.id).words %></a>
<% else %>

<em><%= link_to "No comments yet.", post_path(post), id: "home-comments"  %></em>

<% end %>

</div></div>
    <div class="col-md-2">
	<%= @users.find_by_id(post.user_id).name  %><br>
			<em>Posted <%= time_ago_in_words(post.updated_at) %> ago</em>
	</div>
	</div>
		<% end %>
		
<%= will_paginate @posts %>
</div>


