<p id="notice"><%= notice %></p>
<div align="center"><%= image_tag(@post.picture.url, class: "postimg") if @post.picture.present? %>
	<% if @post.picture.present? %>
	<img src="http://<%= @post.picture.url.to_s %>">
	<br>
	<% end %>
	</div>

<div class="viewpost">
<div class="panel panel-primary">
<div class="panel-heading"><h3 class="panel-title">  <%= @post.title %></h3>

</div>
<div class="viewpost">


  <strong><%= @post.words %></strong>
  <Br>
  <strong>Posted By:</strong>
  <%= @users.find_by_id(@post.user_id).name %>
</p>

Comments:

<div class="comment bg-success" style="padding:5px !important;">
<% @comments.each do |comment| %>

<span class="glyphicon glyphicon-pencil text-info"></span>
<%= comment[:words] %><span class="label label-info pull-right"><%= @users.find_by_id(comment[:user_id]).name %></span>
<br>

<% end %>
</div>

	<div style="width:100%;padding:5px;">
		 <%= form_for(:comment, url: comments_path) do |f| %>
            <fieldset>
			<%= f.text_area :words, placeholder: "Enter Comment Here", class: "input-block-level" %>
                <%= f.submit "Submit Comment", class: "btn btn-success pull-right" %>
				<%= f.hidden_field :post_id, :value => @post.id %>
				<% if signed_in? %>
				<%= f.hidden_field :user_id, :value => session[:user_id] %>
				<% else %>
				<%= f.hidden_field :user_id, :value => 2 %>
				<% end %>
            </fieldset>
        <% end %>
	</div>

<%= link_to 'Back', '/' %>
</div>
</div>
 